*{
    margin: 0;
}

section{
    width: 80%;
    height: 400px;
    margin: 25px auto;
    border: 10px solid blue;
}

section:nth-of-type(1){
    background-image: linear-gradient(to right, #008851 33.33%, #FFFFFF 33.33%, #fff 66.66%, #008851 66.66%);
}

section:nth-of-type(2){
    background: white;
    background-image: radial-gradient(circle, #BC002D 20%, transparent 20%);
    background-position: center;
}

section:nth-of-type(3){
    background-image: linear-gradient(to bottom, #DA291C 33.33%, white 33.33%, white 38.33%,#003F87 38.33%, #003F87 61.66%,white 61.66%, white 66.66%, #009B48 66.66%);
}

section:nth-of-type(4){
    background-image: linear-gradient(to bottom, #009E49 33.33%, #FCD116 33.33%, #FCD116 66.66%, #0073CF 66.66%);
}

section:nth-of-type(5){
    background-image: linear-gradient(to right, #0055A4 33.33%, #FFFFFF 33.33%, #FFFFFF 66.66%, #EF4135 66.66%);
}

section:nth-of-type(6){
    background-image: linear-gradient(to right, #000000 33.33%, #FDDA24 33.33%, #FDDA24 66.66%, #EF3340 66.66%);
}

section:nth-of-type(7){
    background-image: linear-gradient(to bottom, #000000 33.33%, #DD0000 33.33%, #DD0000 66.66%, #FFCE00 66.66%);
}